<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <ion-avatar class="logo">
    <img src="assets/avatar.png" alt="Usuario">
  </ion-avatar>

  <h2>Registrar Usuario</h2>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Nombre" class="input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Apellido" class="input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rut</ion-label>
    <ion-input placeholder="Rut" class="input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input placeholder="Correo" class="input" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input placeholder="Teléfono" class="input" type="tel"></ion-input>
  </ion-item>

  <ion-button expand="full" class="login-button">Registrar</ion-button>
</ion-content>

<ion-footer class="blanc">
  <ion-toolbar class="toolbar">
    <ion-tab-bar>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="opciones">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Opciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
