ion-content {
    --background: #ffffff; /* Color de fondo blanco */
  }
  
  .login-container {
    text-align: center; /* Centrar el texto dentro del contenedor */
    padding: 20px; /* Espaciado interno */
  }
  
  .logo {
    width: 140px; /* Tamaño de la imagen del logo */
    margin-bottom: 20px; 
  }
  
  h2 {
    font-size: 22px; /* Tamaño de la fuente del título */
    font-weight: bold; /* Peso de la fuente */
    margin-bottom: 20px; /* Espaciado inferior */
    color: #000000; /* Color del texto */
  }
  
  ion-item {
    --background: none; /* Sin fondo en los ítems */
    margin-bottom: 50px; /* Espacio entre los campos del formulario */
  }
  
  .input {
    --background: #f9f9f9; /* Fondo gris claro para los inputs */
    --padding-start: 20px; /* Espaciado interno a la izquierda */
    border-radius: 10px; /* Bordes redondeados */
    color: #000000; /* Color del texto dentro del input */
  }
  
  
  
  .links-container {
    display: flex; /* Usar flexbox para los enlaces */
    justify-content: space-between; /* Espacio uniforme entre los enlaces */
    width: 100%; /* Ancho completo del contenedor */
    margin-top: 10px; /* Espaciado superior */
  }
  
  .links-container a {
    text-decoration: none; /* Sin subrayado en los enlaces */
    color: #000000; /* Color del texto de los enlaces */
    font-size: 14px; /* Tamaño de la fuente */
  }
  
  .login-button {
    --background: #2ec4b6; /* Color de fondo del botón */
    width: 100%; /* Botón ocupa todo el ancho del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio entre el botón y los enlaces */
  }
  