<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="horario-container">
  <div class="user-info">
    <ion-avatar class="logo">
      <img src="assets/avatar.png" alt="Usuario">
    </ion-avatar>
    <h2>Juan Perez</h2>
    <p>Semana 30-08-2024</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Lunes</ion-label>
      <ion-note slot="end">Turno de 08:00 AM a 15:00 PM</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Martes</ion-label>
      <ion-note slot="end">Turno de 15:00 AM a 20:00 PM</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Miércoles</ion-label>
      <ion-note slot="end">Turno de 08:00 AM a 15:00 PM</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Jueves</ion-label>
      <ion-note slot="end">Turno de 08:00 AM a 20:00 PM</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Viernes</ion-label>
      <ion-note slot="end">Turno de 08:00 AM a 15:00 PM</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-tab-bar>
      <ion-tab-button tab="basureros">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label>Basureros a cargo</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="opciones">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Opciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
