<ion-header>
  <ion-toolbar>
    <ion-title>ReservaApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/icon/Logo.png" alt="Logo" class="logo" />
    <h2>Reserva Los Pozones</h2>

    <ion-item lines="none">
      <ion-input placeholder="Correo" type="email" class="input" [(ngModel)]="Correos"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Contraseña" type="password" class="input" [(ngModel)]="password"></ion-input>
    </ion-item>

    <div class="links-container">
      <a href="#"> <strong>Olvidé mi contraseña</strong></a> 
      <button (click)="admin()">Admin</button>
    </div>

    <ion-button (click)="login()" expand="block" class="login-button">Iniciar Sesión</ion-button>
  </div>
</ion-content>
